<html>
    <script>
        document.currentScript.parentElement.setAttribute("data-theme", "light")
    </script>
    <head>
        <post>
            return "<"+"style>"+open("public/main.css").read()+"<"+"/style>"
        </post>
        <post>
            return tailwind+daisyui
        </post>
        <script>
            var authMode=Signal("authMode", "Register")
            var email=""
            function Switch() {
                authMode.setValue(
                    authMode.Value()=="Register" ? "Login" : "Register"
                )
            }
            function isValidEmail(email) {
                const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                return emailRegex.test(email);
            }
            function OnSubmit() {
                email=document.getElementById("email").value
                if (isValidEmail(email)) {
                    fetch("/email?email="+encodeURIComponent(email)).then(async (x)=>{
                        document.getElementById("email").value=""
                        x=await x.json()
                        if (x) {
                            GetSignal("mode").setValue("otp")
                        }
                    })
                } else {
                    document.getElementById("email").value=""
                }
            }
            function SubmitOtp() {
                var otp=""
                for (let index = 0; index < 6; index++) {
                    otp+=String(document.getElementById("digit_"+String(index)).value)
                }
                function getCookie(name) {
                    const value = `; ${document.cookie}`;
                    const parts = value.split(`; ${name}=`);
                    if (parts.length === 2) return parts.pop().split(';').shift();
                }

                fetch("/submit_otp?otp="+encodeURIComponent(otp)+"&email="+encodeURIComponent(email)).then(async (x)=>{
                    x=await x.json()
                    if (x) {
                        const currentUrl = window.location.href;
                        const url = new URL(currentUrl);
                        const params = new URLSearchParams(url.search);
                        if (params.get("redirect")=="queries") {
                            window.location="https://queries.exunclan.com/auth?auth_token="+encodeURIComponent(getCookie("auth_token"))
                            return
                        }
                        window.location.href="/"
                    }
                })
            }
            var isMobile=Signal("isMobile", window.innerHeight>=window.innerWidth)
            setInterval(()=>{
                if (window.innerHeight>=window.innerWidth!==isMobile.Value()) {
                    isMobile.setValue(window.innerHeight>=window.innerWidth)
                }
            }, 10)
        </script>
    </head>
    <body>
        <div class="wrapper" style="width: 100vw; height: 100vh;">
            <div style="
            <js isMobile>
                if (isMobile.Value()) {
                    return ''
                } else {
                    return 'border: 2.5px solid rgba(0, 0, 0, 0.25); border-radius: 25px; height: 36vh; max-width: 1000px;'
                }
            </js>
            ">
                <if isMobile>
                    <py>render("login/mobile")</py>
                </if>
                <if isMobile condition="!isMobile.Value()">
                    <py>render("login/pc")</py>
                </if>
            </div>
        </div>
    </body>
</html>