<html>
    <script>
        document.currentScript.parentElement.setAttribute("data-theme", "light")
    </script>
    <head>
        <link href="main.css" rel="stylesheet"></link>
        <post>
            return tailwind+daisyui
        </post>
        <script>
            var authMode=Signal("authMode", "Register")
            function Switch() {
                authMode.setValue(
                    authMode.Value()=="Register" ? "Login" : "Register"
                )
            }
            function isValidEmail(email) {
                const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                return emailRegex.test(email);
            }
            function OnSubmit() {
                var email=document.getElementById("email").value
                if (isValidEmail(email)) {
                    fetch("/email?email="+encodeURIComponent(email)).then(async (x)=>{
                        document.getElementById("email").value=""
                        x=await x.json()
                        console.log(x)
                    })
                } else {
                    document.getElementById("email").value=""
                }
            }
            var isMobile=Signal("isMobile", window.innerHeight>=window.innerWidth)
        </script>
    </head>
    
    <body>
        <div class="wrapper" style="width: 100vw; height: 100vh;">
            <div style="
            <js isMobile>
                if (isMobile.Value()) {
                    
                } else {
                    return 'border: 2.5px solid rgba(0, 0, 0, 0.25); border-radius: 25px; height: 36vh; max-width: 1000px;'
                }
            </js>
            ">
                <if isMobile>
                    <py>render("login/mobile")</py>
                </if>
                <if isMobile condition="!isMobile.Value()">
                    <py>render("login/pc")</py>
                </if>
            </div>
        </div>
    </body>
</html>