<script>
    var mode=Signal("mode", "otp")
    function OnOTP(event) {
        var id=event.target.id
        if (!Number.isNaN(Number(event.target.value)) && event.target.value[event.target.value.length-1]!==undefined) {
            event.target.value=event.target.value[event.target.value.length-1]
            var n=Number(id[id.length-1])
            if (n!=5) {
                document.getElementById("digit_"+String(n+1)).focus()
            }
        } else {
            event.target.value=""
        }
    }
    document.addEventListener("keydown", function(event) {
        if (event.key === "Backspace") {
            for (let index = 0; index < 6; index++) {
                if (document.getElementById("digit_"+String(index))==document.activeElement && index!==0) {
                    if (document.getElementById("digit_"+String(index)).value!=="") {
                        document.getElementById("digit_"+String(index)).value=""
                    } else {
                        document.getElementById("digit_"+String(index-1)).value=""
                        document.getElementById("digit_"+String(index-1)).focus()
                    }
                    break
                }
            }
        }
    });
</script>

<div style="width: 100vw; padding: 75px; height: 100vh;">
    <img src="exun_base.webp" style="height: 140px;"></img>
    <div style="margin-top: 4vh;"></div>
    <p style="font-size: 100px; font-weight: 500; margin-bottom: 1vh;">
        <if mode condition="mode.Value()=='auth'">
            <js authMode>
                return authMode.Value()
            </js>
        </if>
        <if mode condition="mode.Value()=='otp'">
            OTP
        </if>
    </p>
    <p style="font-size: 40px;">
        <if mode condition="mode.Value()=='auth'">
            with your official email to continue to Exun 2024 Registration Platform.
        </if>
        <if mode condition="mode.Value()=='otp'">
            has been sent to your mail.
        </if>
    </p>
    <div style="margin-bottom: 6vh;"></div>
    <if mode condition="mode.Value()=='auth'">
        <input style="padding: 6vw; font-size: 40px; width: 100%; padding-left: 4vw;" class="input" placeholder="Please enter your email"></input>
        <a href="mailto:exun@dpsrkp.net">
            <p style="font-size: 40px; margin-top: 25px;">
                Forgot Email?
            </p>
        </a>
    </if>
    <if mode condition="mode.Value()=='otp'">
        <div class="wrapper">
            <input id="digit_0" type="number" style="color: black; width: 120px; height: 120px; border-radius: 33px; text-align: center; font-size: 40px; margin: 10px;" class="input" oninput="OnOTP(event)"></input>
            <input id="digit_1" type="number" style="color: black; width: 120px; height: 120px; border-radius: 33px; text-align: center; font-size: 40px; margin: 10px;" class="input" oninput="OnOTP(event)"></input>
            <input id="digit_2" type="number" style="color: black; width: 120px; height: 120px; border-radius: 33px; text-align: center; font-size: 40px; margin: 10px;" class="input" oninput="OnOTP(event)"></input>
            <input id="digit_3" type="number" style="color: black; width: 120px; height: 120px; border-radius: 33px; text-align: center; font-size: 40px; margin: 10px;" class="input" oninput="OnOTP(event)"></input>
            <input id="digit_4" type="number" style="color: black; width: 120px; height: 120px; border-radius: 33px; text-align: center; font-size: 40px; margin: 10px;" class="input" oninput="OnOTP(event)"></input>
            <input id="digit_5" type="number" style="color: black; width: 120px; height: 120px; border-radius: 33px; text-align: center; font-size: 40px; margin: 10px;" class="input" oninput="OnOTP(event)"></input>
            <script>
                document.addEventListener("paste", ()=>{
                    var anyActive=false
                    for (let index = 0; index < 6; index++) {
                        if (document.getElementById("digit_"+String(index))==document.activeElement) {
                            anyActive=true
                            break
                        }
                    }
                    if (!anyActive) {
                        const pastedData = (event.clipboardData || window.clipboardData).getData('text');
                        var text=""
                        for (let index = 0; index < pastedData.length; index++) {
                            const element = pastedData[index];
                            if ("1234567890".includes(element)) {
                                text+=element
                            }
                        }
                        for (let index = 0; index < 6; index++) {
                            const element = text[index];
                            console.log(element)
                            if (element!==undefined) {
                                document.getElementById("digit_"+String(index)).value=element
                                if (index!==5) {
                                    document.getElementById("digit_"+String(index+1)).focus()
                                }
                            } else {
                                ((index)=>{
                                    setTimeout(()=>{
                                        document.getElementById("digit_"+String(index)).value=""
                                    }, 0)
                                })(index)
                            }
                        }
                    }
                })
                for (let index = 0; index < 6; index++) {
                    ((index)=>{
                        document.getElementById("digit_"+String(index)).addEventListener("paste", (event)=>{
                            setTimeout(()=>{
                                document.getElementById("digit_"+String(index)).value=""
                            }, 0)
                            const pastedData = (event.clipboardData || window.clipboardData).getData('text');
                            setTimeout(()=>{
                                var text=""
                                for (let index = 0; index < pastedData.length; index++) {
                                    const element = pastedData[index];
                                    if ("1234567890".includes(element)) {
                                        text+=element
                                    }
                                }
                                for (let index = 0; index < 6; index++) {
                                    const element = text[index];
                                    if (element!==undefined) {
                                        document.getElementById("digit_"+String(index)).value=element
                                        if (index!==5) {
                                            document.getElementById("digit_"+String(index+1)).focus()
                                        }
                                    }
                                }
                            }, 10)
                        })
                    })(index)
                }
            </script>
        </div>
    </if>
    <div style="margin-top: 10vh;">
        <div class="wrapper" style="width: fit-content;">
            <if mode condition="mode.Value()=='auth'">
                <button style="font-size: 40px; height: 100px; background-color: #338EF7; color: white; padding: 30px; padding-left: 50px; padding-right: 50px; border-radius: 20px;" class="py-[8px] rounded-xl text-sm lg:text-base font-semibold text-black/[0.95] hover:scale-[1.02] transition" onclick="OnSubmit()">
                    <js authMode>authMode.Value()</js>
                </button>
                <div style="cursor: pointer; font-size: 40px; margin-left: 50px;" onclick="Switch()">
                    <js authMode>
                        if (authMode.Value()=="Register") {
                            return "Login "
                        } else {
                            return "Register "
                        }
                    </js>
                    Instead?
                </div>
            </if>
            <if mode condition="mode.Value()=='otp'">
                <button style="font-size: 40px; height: 100px; background-color: #338EF7; color: white; padding: 30px; padding-left: 50px; padding-right: 50px; border-radius: 20px;" class="py-[8px] rounded-xl text-sm lg:text-base font-semibold text-black/[0.95] hover:scale-[1.02] transition" onclick="OnSubmit()">
                    Submit
                </button>
            </if>
        </div>
    </div>
</div>