<html>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        var eventId=urlParams.get("id")
        document.currentScript.parentElement.setAttribute("data-theme", "light")
        var participants=Signal("participants", [])
        function ChangeField(index, field, value) {
            var current=participants.Value()
            current[index][field]=value
            participants.Value=()=>{
                return current
            }
        }
        function Delete(index) {
            var out=[]
            participants.Value().forEach((x, i)=>{
                if (i!==index) {
                    out.push(x)
                }
            })
            participants.setValue(out)
        }
        function scrollParticipants() {
            document.getElementById('participants').scrollHeight=document.getElementById('participants').scrollTop=document.getElementById('participants').scrollHeight
        }
        var modalOpen=Signal("modalOpen", false)
    </script>
    <py>
        return open("components/toast.html").read()
    </py>
    <head>
        <post>
            return "<"+"style>"+open("public/main.css").read()+"<"+"/style>"
        </post>
        <post>
            return tailwind+daisyui
        </post>
        <script>
            var isMobile=Signal("isMobile", window.innerHeight>=window.innerWidth)
            setTimeout(()=>{
                if (window.innerHeight>=window.innerWidth!==isMobile.Value()) {
                    isMobile.setValue(window.innerHeight>=window.innerWidth)
                }
            }, 10)
        </script>
    </head>
    <body>
        <py>
            render("navbar", locals() | globals())
        </py>
        <div class="w-full max-w-[1200px] px-4 sm:px-10 md:px-20 lg:p`-40 justify-center flex flex-col mt-5 divide-y divide-black/20 mx-auto">
            <div class="w-full flex flex-col sm:flex-row gap-2 sm:gap-5 sm:divide-x divide-black/20">
                <div class="flex flex-col items-center gap-3 sm:pb-5">
                    <post>
                        return open("public/illustrations/"+event['image']).read()
                    </post>
                    <script>
                        document.currentScript.previousElementSibling.setAttribute("class", "max-w-40 min-w-40 h-40")
                        document.currentScript.previousElementSibling.removeAttribute("width")
                        document.currentScript.previousElementSibling.removeAttribute("height")
                    </script>

                    <p class="text-3xl font-semibold block sm:hidden"><py>event['name']</py></p>

                    <p class="px-5 py-1 bg-[#338EF7] shadow-[#338EF7]/[0.6] shadow-lg text-white font-medium w-fit h-fit rounded-full hidden sm:block"><py>event['mode']</py></p>
                </div>
                <div class="flex flex-col gap-2 sm:pl-5 pb-5 w-full">
                    <div class="flex items-center justify-between">
                        <p class="text-4xl font-semibold hidden sm:block"><py>event['name']</py></p>
                        <button class="py-[8px] rounded-xl px-6 py-2 bg-[#338EF7] text-white text-sm lg:text-base font-semibold hover:scale-[1.02] transition shadow-[#338EF7]/[0.6] shadow-lg whitespace-nowrap ml-5 mb-5 hidden sm:block" onclick="modal_0.showModal();modalOpen.setValue(true)">Registration Panel</button>
                    </div>
                    <div class="flex flex-col justify-center mb-1.5 items-center sm:items-start">
                        <p class="text-lg font-medium">Max Participants allowed: <py>event['participants']</py></p>
                        <p class="text-lg font-medium">
                            <py>
                                if event['open_to_all']:
                                    return "Open to all classes"
                                else:
                                    return "Classes allowed: " + str(event['eligibility'][0]) + "th - " + str(event['eligibility'][1])+"th"
                            </py>
                        </p>
                    </div>
                    
                    <p class="text-black/80 text-sm text-center sm:text-left sm:text-base"><py>event['descriptions']['short'][:300]</py></p>

                    <button class="py-[8px] rounded-xl px-6 py-2 bg-[#338EF7] text-white text-sm lg:text-base font-semibold hover:scale-[1.02] transition shadow-[#338EF7]/[0.6] shadow-lg whitespace-nowrap mt-3.5 block sm:hidden" onclick="modal_0.showModal();modalOpen.setValue(true)">
                        Registration Panel
                    </button>
                </div>
            </div>
            <div class="w-full flex gap-5 sm:divide-x divide-black/20">
                <div class="min-w-28 max-w-28 md:max-w-40 md:min-w-40 flex flex-col gap-1 text-black pt-5 hidden sm:block">
                    <p class="text-xl mb-3 font-medium text-center">Sections</p>
                    <button class="px-1.5 py-[5px] bg-black/[0.025] hover:bg-black/[0.06] focus:bg-black/[0.09] transition text-xs sm:text-sm rounded-lg text-left truncate">Dates and Deadlines</button>
                </div>

                <p class="text-black/80 pl-5 pt-5"><py>event['descriptions']['long']</py></p>
            </div>
        </div>
        <style>

        </style>
        <script>
            var styleTag=document.currentScript.previousElementSibling
            OnChange("modalOpen", () => {
                if (modalOpen.Value()) {
                    styleTag.innerHTML = `
                        body::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba(0, 0, 0, 0.2);
                            pointer-events: none;
                            z-index: 1;
                        }
                        dialog::backdrop {
                            background: none !important;
                        }
                    `;
                } else {
                    styleTag.innerHTML = ``;
                }
            })
        </script>
        <dialog id="modal_0" class="modal modal-bottom sm:modal-middle" style="overflow-y: hidden; z-index: 1000;">
            <div class="modal-box" style="overflow-y: hidden;">
                <h3 class="text-4xl font-bold vertical">Registrations</h3>
                    <py>
                        registrations=account['registrations']
                        id=hashlib.sha256(event['name'].encode()).hexdigest()[:6]
                        print(registrations, id)
                        if id in registrations:
                            registrations=registrations[id]
                        else:
                            registrations=[]
                        return f"""
                        <script>
                            var id="{id}"
                            var registrations={registrations}
                            setTimeout(()=>{{
                                participants.setValue(registrations)
                            }}, 10)
                        </script>
                        """
                    </py>
                    <py>
                        out="<"+"script>"+"var participantsHTML=`"+escapeString(render("events/participants").render)
                        out+="`<"+"/script"+">"
                        return out
                    </py>
                    <script>
                        OnChange("participants", ()=>{
                            Array.from(document.getElementById("participants").children).forEach((x)=>{
                                document.getElementById("participants").removeChild(x)
                            })
                            participants.Value().forEach((x, i)=>{
                                if (x==undefined) {
                                    return
                                }
                                var out=String(participantsHTML)
                                out=out.replaceAll("{name}", x["name"])
                                out=out.replaceAll("{i}", String(i))
                                out=out.replace("{class}", String(x["class"]))
                                out=out.replace("{phone}", x["phone"])
                                out=out.replace("{email}", x["email"])
                                document.getElementById("participants").innerHTML+=out
                            })
                            executeScripts(document.getElementById("participants"))
                        })
                    </script>
                    <div style="max-height: 65vh; overflow-y: auto; margin-top: 10px;" id="participants">
                        
                    </div>
                <script>
                    function isValidEmail(email) {
                        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                        return emailPattern.test(email);
                    }
                    function SubmitRegistration() {
                        var array= Array.from(document.getElementById("participants").children)
                        for (let i = 0; i < array.length; i++) {
                            var x = array[i];
                            x=x.children.item(1)
                            var inputs=Array.from(x.children).slice(0, 4).map((x)=>{
                                return x.children.item(0)
                            })
                            for (let index = 0; index < inputs.length; index++) {
                                if (index==0 && !isValidEmail(inputs[0].value)) {
                                    Toast("Invalid Email in participant #"+String(i))
                                    return
                                }
                                if (index==3 && !(12>=inputs[3].value && inputs[3].value>=6)) {
                                    Toast("Invalid Class (6-12) in participant #"+String(i))
                                    return
                                }
                                var element = inputs[index];
                                if (element.value=="") {
                                    Toast("Missing field value in participant #"+String(i))
                                    return
                                }
                            }
                        }
                        fetch("/submit_registrations", {
                            "method":"post", "body": JSON.stringify({
                                "id":eventId, "data":participants.Value()
                            }), "headers": {
                                "Content-Type":"application/json"
                            }
                        }).then((x)=>{
                            Toast("Registrations Update Successfully", 5000, "#17C964")
                        })
                    }
                </script>
                <div class="modal-action">
                    <button style="margin-right: 10px;" class="py-[8px] rounded-xl px-6 py-2 bg-[#338EF7] text-white text-sm lg:text-base font-semibold hover:scale-[1.02] transition shadow-[#338EF7]/[0.6] shadow-lg whitespace-nowrap"
                        onclick="SubmitRegistration()"
                    >
                        Submit
                    </button>
                    <button style="margin-right: 10px;" class="py-[8px] rounded-xl px-6 py-2 bg-[#338EF7] text-white text-sm lg:text-base font-semibold hover:scale-[1.02] transition shadow-[#338EF7]/[0.6] shadow-lg whitespace-nowrap"
                    onclick="
                    participants.setValue([...participants.Value(), {'name':'', 'email':'', 'phone':'', 'class':''}]);
                    setTimeout(scrollParticipants, 100)
                    "
                    >
                        Add Student
                    </button>
                    <button class="btn" onclick="modal_0.close();modalOpen.setValue(false)">Close</button>
                </div>
            </div>
        </dialog>

        <script>

        </script>

        <py>render("footer")</py>
    </body>
</html>