<html>
    <script>
        document.currentScript.parentElement.setAttribute("data-theme", "light")
    </script>
    <head>
        <post>
            return "<"+"style>"+open("public/main.css").read()+"<"+"/style>"
        </post>
        <post>
            return tailwind+daisyui
        </post>
        <script>
            var isMobile=Signal("isMobile", window.innerHeight>=window.innerWidth)
            setTimeout(()=>{
                if (window.innerHeight>=window.innerWidth!==isMobile.Value()) {
                    isMobile.setValue(window.innerHeight>=window.innerWidth)
                }
            }, 10)
        </script>
    </head>
    <body>
        <py>
            render("navbar", locals() | globals())
        </py>

        <div class="w-full max-w-[1200px] px-8 sm:px-20 lg:px-40 justify-center flex flex-col mt-5 divide-y divide-black/20 mx-auto">
            <div class="w-full flex gap-5 divide-x divide-black/20">
                <div class="flex flex-col items-center gap-3 pb-5">
                    <post>
                        return open("public/illustrations/"+event['image']).read()
                    </post>
                    <script>
                        document.currentScript.previousElementSibling.setAttribute("class", "min-w-40 h-36")
                        document.currentScript.previousElementSibling.removeAttribute("width")
                        document.currentScript.previousElementSibling.removeAttribute("height")
                    </script>
                    <p class="px-5 py-1 bg-[#338EF7] shadow-[#338EF7]/[0.6] shadow-lg text-white font-medium w-fit h-fit rounded-full"><py>event['mode']</py></p>
                </div>
                <div class="flex flex-col gap-2 pl-5 pb-5 w-full">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center gap-5">
                            <p class="text-4xl font-semibold"><py>event['name']</py></p>
                        </div>
                        <button class="py-[8px] rounded-xl px-6 py-2 bg-[#338EF7] text-white text-sm lg:text-base font-semibold hover:scale-[1.02] transition shadow-[#338EF7]/[0.6] shadow-lg whitespace-nowrap ml-5" onclick="OnSubmit()">
                            Registration Panel
                        </button>
                    </div>
                    <div class="flex flex-col justify-center mb-1.5">
                        <p class="text-lg font-medium">Max Participants allowed: <py>event['participants']</py></p>
                        <p class="text-lg font-medium">
                            <py>
                                if event['open_to_all']:
                                    return "Open to all classes"
                                else:
                                    return "Classes allowed: " + str(event['eligibility'][0]) + "th - " + str(event['eligibility'][1])+"th"
                            </py>
                        </p>
                    </div>
                    <p class="text-black/80"><py>event['descriptions']['short'][:300]</py></p>
                </div>
            </div>
            <div class="w-full flex gap-5 divide-x divide-black/20">
                <div class="min-w-40 flex flex-col gap-1 text-black pt-5">
                    <p class="text-xl mb-3 font-medium text-center">Sections</p>
                    <button class="px-1.5 py-[5px] bg-black/[0.025] hover:bg-black/[0.06] focus:bg-black/[0.09] transition text-sm rounded-lg text-left truncate">Dates and Deadlines</button>
                </div>

                <p class="text-black/80 pl-5 pt-5"><py>event['descriptions']['long']</py></p>
            </div>
        </div>

        <py>render("footer")</py>
    </body>
</html>