<html>
    <script>
        document.currentScript.parentElement.setAttribute("data-theme", "light")
    </script>
    <head>
        <post>
            return "<"+"style>"+open("public/main.css").read()+"<"+"/style>"
        </post>
        <post>
            return tailwind+daisyui
        </post>
    </head>
    <body>
        <py>
            render("navbar", locals() | globals())
        </py>
        <div class="w-full px-8 sm:px-20 lg:px-40 justify-center flex flex-wrap gap-5">
            <post>
                out=""
                all_events=order_events(events.get_all())
                for event in all_events:
                    event_id=event
                    event=all_events[event]
                    current=render("events/event_card", locals() | globals()).render.replace("{image}", event["image"]).replace("{name}", event["name"]).replace("{mode}", event["mode"]).replace("{participants}", str(event["participants"]) if event['name']!='Girls In Tech' else 'Infinite').replace("{id}", event_id)
                    if event["open_to_all"]:
                        current=current.replace("{classes}", "open to all")
                    else:
                        current=current.replace("{classes}", str(event["eligibility"][0])+"th - "+str(event["eligibility"][1])+"th")
                    out+=current
                return out
            </post>
        </div>
        <py>render("footer")</py>
    </body>
</html>
