<html>
    <script>
        document.currentScript.parentElement.setAttribute("data-theme", "light")
    </script>
    <head>
        <link href="main.css" rel="stylesheet"></link>
        <post>
            return tailwind+daisyui
        </post>
        <script>
            var isMobile=Signal("isMobile", window.innerHeight>=window.innerWidth)
            setTimeout(()=>{
                if (window.innerHeight>=window.innerWidth!==isMobile.Value()) {
                    isMobile.setValue(window.innerHeight>=window.innerWidth)
                }
            }, 10)
        </script>
    </head>
    <body>
        <py>
            render("navbar", locals() | globals())
        </py>
        <div class="w-full px-8 sm:px-20 lg:px-40 justify-center flex flex-wrap gap-5">
            <py>
                out=""
                for event in events.get_all():
                    event_id=event[0]
                    event=json.loads(event[1])
                    current=render("events/event_card", locals() | globals()).render.replace("{image}", event["image"]).replace("{name}", event["name"]).replace("{mode}", event["mode"]).replace("{participants}", str(event["participants"])).replace("{id}", event_id)
                    if event["open_to_all"]:
                        current=current.replace("{classes}", "open to all")
                    else:
                        current=current.replace("{classes}", str(event["eligibility"][0])+"th - "+str(event["eligibility"][1]))+"th"
                    out+=current
                return out
            </py>
        </div>
        <py>render("footer")</py>
    </body>
</html>