<div style="padding: 10px; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 20px; margin-bottom: 10px;">
    <p class="text-2xl">
        Participant #{i}
    </p>
    <div style="padding: 10px;">
        <div class="wrapper">
            <input class="w-full px-2.5 py-3 text-sm bg-black/[0.06] border border-black/[0.08] focus:outline-none rounded-lg"
            placeholder="Participant Email (required)"
            value="{email}"
            style="margin-bottom: 5px;"
            >
            </input>
        </div>
        <div class="wrapper">
            <input class="w-full px-2.5 py-3 text-sm bg-black/[0.06] border border-black/[0.08] focus:outline-none rounded-lg disabled:bg-black/[0.2] disabled:cursor-not-allowed"
            placeholder="Participant Name" disabled
            title="Kindly fill the participant's email to proceed"
            value="{name}"
            style="margin-bottom: 5px;"
            >
            </input>
        </div>
        <div class="wrapper">
            <input class="w-full px-2.5 py-3 text-sm bg-black/[0.06] border border-black/[0.08] focus:outline-none rounded-lg disabled:bg-black/[0.2] disabled:cursor-not-allowed"
            placeholder="Participant Phone Number" disabled
            title="Kindly fill the participant's email to proceed"
            value="{phone}"
            type="number"
            style="margin-bottom: 5px;"
            >
            </input>
        </div>
        <div class="wrapper">
            <input class="w-full px-2.5 py-3 text-sm bg-black/[0.06] border border-black/[0.08] focus:outline-none rounded-lg disabled:bg-black/[0.2] disabled:cursor-not-allowed"
            placeholder="Participant Class" type="number" disabled
            title="Kindly fill the participant's email to proceed"
            value="{class}"
            style="margin-bottom: 5px;"
            >
            </input>
        </div>
        <script>
            (()=>{
                var inputs=[
                document.currentScript.parentElement.children.item(0).children.item(0),
                document.currentScript.parentElement.children.item(1).children.item(0),
                document.currentScript.parentElement.children.item(2).children.item(0),
                document.currentScript.parentElement.children.item(3).children.item(0)
                ]
                function isValidEmail(email) {
                        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                        return emailPattern.test(email);
                    }
                if (isValidEmail(inputs[0].value)) {
                    inputs.slice(1).forEach((x)=>{
                        x.removeAttribute("title")
                        x.disabled=false
                    })
                }
                inputs[0].oninput=(event)=>{
                    if (isValidEmail(event.target.value)) {
                        inputs.slice(1).forEach((x)=>{
                            x.removeAttribute("title")
                            x.disabled=false
                        })
                    } else {
                        inputs.slice(1).forEach((x)=>{
                            x.disabled=true
                            x.setAttribute("title", "Kindly fill the participant's email to proceed")
                            x.value=""
                        })
                    }
                }
            })()
        </script>
        <button class="btn btn-error" style="margin-top: 5px; color: white;">Delete Entry</button>
    </div>
</div>