@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical {
    text-align: center;
}

body {
    background-color: white;
    color: black;
    font-family: "Raleway", sans-serif;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1);
    transition: 300ms ease-in-out;
}
  
.input:focus {
    background-color: white;
    box-shadow: 14px 14px 100px #969696, -14px -14px 100px #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    padding-right: 11px;
}

input[type=number] {
    -moz-appearance: textfield;
}