<html>
    <script>
        document.currentScript.parentElement.setAttribute("data-theme", "light")
    </script>
    <script>
        document.title="Exun 2024 - Reg"
    </script>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <post>
            return "<"+"style>"+open("public/main.css").read()+"<"+"/style>"
        </post>
        <post>
            return tailwind+daisyui
        </post>
    </head>
    <body>
        <py>
            render("navbar", locals() | globals())
        </py>

        <div class="w-full flex flex-col gap-24 pt-10">
            <div class="flex flex-col-reverse lg:flex-row justify-center gap-5 lg:gap-14 px-5 sm:px-14 lg:px-40 items-center">
                <div class="flex flex-col w-full lg:w-1/2 gap-5 sm:gap-10">
                    <p class="text-4xl sm:text-5xl font-bold text-center lg:text-left">Exun 2024</p>
                    <p class="text-2xl sm:text-3xl font-bold text-center lg:text-left">The biggest tech symposium of India</p>

                    <p class="text-center lg:text-left">Exun 2024, a plethora of events and a profusion of memories, awaits you. The 29th iteration of Exun Clan's annual international technology symposium is being organized on 9th and 10th November, with the preliminary rounds starting from 28th October. Budding from the success of Exun 2023 with over 22,000 participants both from India and across the globe, we hope Exun 2024 scales to new heights. Check out our list of events below, with something for every variety of tech enthusiasts!</p>

                    <div class="flex gap-6 justify-center lg:justify-start">
                        <button class="text-white py-2.5 sm:px-10 px-3 rounded-xl text-sm md:text-base font-semibold text-black/[0.95] hover:scale-[1.02] bg-[#338EF7] transition shadow-[#338EF7]/[0.6] shadow-md w-full" onclick="window.location='/events'">
                            Explore Events
                        </button>
                        <button class="text-black py-2.5 sm:px-10 px-3 rounded-xl text-sm md:text-base font-semibold text-black/[0.95] hover:scale-[1.02] transition w-full border border-[#338EF7]" onclick="window.location.href='/brochure'">
                            View Brochure
                        </button>
                    </div>
                </div>

                <div class="flex w-full lg:w-1/2 justify-center items-center">
                    <img src="mainillus.webp" class="w-[250px] lg:w-[300px] h-fit"></img>
                </div>
            </div>

            <div class="w-full px-8 sm:px-20 lg:px-40 items-center flex flex-col gap-14">
                <h1 class="text-5xl font-bold">Our Events</h1>

                <div class="w-full justify-center flex flex-wrap gap-8">
                    <post>
                        out=""
                        all_events=order_events(events.get_all())
                        for event in all_events:
                            event_id=event
                            event=all_events[event]
                            current=render("events/event_card", locals() | globals()).render.replace("{image}", event["image"]).replace("{name}", event["name"]).replace("{mode}", event["mode"]).replace("{participants}", str(event["participants"])).replace("{id}", event_id)
                            if event["open_to_all"]:
                                current=current.replace("{classes}", "open to all")
                            else:
                                current=current.replace("{classes}", str(event["eligibility"][0])+"th - "+str(event["eligibility"][1])+"th")
                            out+=current
                        return out
                    </post>
                </div>
            </div>

        </div>

        <py>render("footer")</py>
    </body>
</html>
