<div class="w-screen px-40 py-7 gap-5 flex flex-row items-center justify-between absolute top-0 left-0 backdrop-blur-lg">
    <div class="flex gap-4 items-center">
        <a href="/"><img class="w-28" src="exun.png" alt="Exun Clan"></img></a>
    </div>
    <div class="flex gap-4 sm:gap-10 items-center">
        <a href="/">Home</a>
        <a href="/events">Events</a>
        <py>
            if (request.path != "/login") and (request.cookies['email'] != "exun@dpsrkp.net"):
                return "<a href='/events'>Admin</a>"
            else:
                return ""
        </py>
    </div>
</div>