<script type="text/javascript" src="toast/toastify.js"></script>
<link rel="stylesheet" type="text/css" href="toast/toastify.css"></link>

<script>
    function Toast(text, duration=50000, background="#F31260") {
        Toastify({
            text: "This is a toast",
            duration: duration,
            destination: "https://github.com/apvarun/toastify-js",
            newWindow: true,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                position: "absolute",
                background: background,
                "z-index": 5000
            },
            onClick: function(){} // Callback after click
            }).showToast();
        setTimeout(()=>{
            modal_0.showModal()
        }, 100)
    }
</script>