<script>
    <post>
    return open("public/toast/toastify.js").read()
    </post>
</script>

<style>
    <post>
        return open("public/toast/toastify.css").read()
    </post>
</style>

<script>
    function Toast(text, duration=10000, background="#F31260") {
        Toastify({
            text: text,
            duration: duration,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: background,
                "z-index": 5000
            },
            onClick: function(){} // Callback after click
            }).showToast();
    }
</script>